<p id="notice"><%= notice %></p>

<p>
 
  <% @reading_list.each do |list|%>
   <b>Book:</b>
  	<%= Book.find(list.book_id).name %>
  	<%= button_to "X", list,:method=> :delete,:action=>:destroy, :controller=>:line_items, :remote=> true%>
</p>
<%end%>


<%= link_to 'Edit', edit_reading_list_path(@reading_list) %> |
<%= link_to 'Back', books_path %>
