<h1>Listing terminologies</h1>

<table>
  <tr>
    <th>Book</th>
    <th>Language</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @terminologies.each do |terminology| %>
  <tr>
    <td><%= terminology.book_id %></td>
    <td><%= terminology.language_id %></td>
    <td><%= link_to 'Show', terminology %></td>
    <td><%= link_to 'Edit', edit_terminology_path(terminology) %></td>
    <td><%= link_to 'Destroy', terminology, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Terminology', new_terminology_path %>
