<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Invited Friends:</b>
  </br>
      <button class="btn resetBtn wg-external-submit-button" data-grid-name="grid" id=" reset_program_filter">Submit</button>       
      <button class="btn resetBtn wg-external-reset-button" data-grid-name="grid" id="  reset_program_filter">Reset</button>
    <%= render 'invitation_grid'%>
  </br>

</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<% if is_user_admin?%>
	<%= link_to 'Back', users_path %>
<% else%>
	<%= link_to 'Back', root_url %>
<%end%>