<div class="book">
	<%= link_to image_tag(book.image_link.to_s,:size => "200x125",:alt => book.name), book%>
	
<!-- 	<%= image_tag book.image_url.to_s ,:size => "200x125",:alt => book.name%> -->
 <div class="screenshot"><%#= link_to image_tag("#{book.name.downcase}.png", :size => "200x125", :alt => book.name), {:autoplay => true}, :class => "play_video" %></div>
  <div class="main">
    <div class="info">
      <span class="number">Book <%= book.position %></span> &ndash;
      <span class="published_at"><%= book.published_at.strftime('%b %d, %Y') %></span>
      <% unless book.published? %>
        <span class="unreleased">NOT YET RELEASED</span>
      <% end %>
    </div>
    <h2><%= link_to book.name, book %></h2>
    <div class="description"><%= book.description %></div>
    <div class="watch">
    	<%= link_to "Watch Video", book_path(book, :autoplay => true), :class => "watch_button" %></br>
      <%#= link_to "Read Book", book_path(book, :autoplay => false), :class => "read_button" %> </br>
<!--       <span class="stats">(<%#= pluralize (book.seconds/60).round, "minute" %>, <%#= link_to pluralize(book.comments.size, "comment"), book_path(episode, :view => "comments") %>)</span> -->
      <%if can? :update, :books%>
      <%= link_to 'Edit Book', edit_book_path(book),:class => "read_button" %>
      <%end%>
    </div>
  </div>
  <div class="clear"></div>	
</div>

