<% title "Books in BookSHelf", false %>
<!-- <h1>List of Books in BookShelf</h1> -->


<div class="content">
  <div class="side">
    <div class="book_views">
      View:
      <span class="view"><%= link_to_unless params[:view].blank?, image_tag("views/full.png", :size => "15x10"), params.merge(:view => nil, :page => nil), :title => "Full View" %></span>
      <span class="view"><%= link_to_unless params[:view] == "list", image_tag("views/list.png", :size => "14x10"), params.merge(:view => "list", :page => nil), :title => "List View" %></span>
      <span class="view"><%= link_to_unless params[:view] == "grid", image_tag("views/grid.png", :size => "11x10"), params.merge(:view => "grid", :page => nil), :title => "Grid View" %></span>
    </div>
    
    <div class="categories">
      <h2>Language</h2>
      <ul>
      <% for language in Language.order("name") %>
      
      <li><%= link_to_unless(params[:language_id].to_i == language.id, language.name,params.merge(:language_id => language.id, :page =>nil))%></li>
      <% end %>
      </ul>
    </div>
    
    </br>
    
	<div class="categories">
      <h2>Categories</h2>
      <ul>
      <% for tag in Tag.order("name") %>
        <li><%= link_to_unless(params[:tag_id].to_i == tag.id, tag.display_name, params.merge(:tag_id => tag.id, :page => nil)) %></li>
      <% end %>
      </ul>
    </div>
    <div class="banner">

    </div>
    
      </form>
    </div>
  </div>   

 
<div class="books">
	
      <%if params[:lnaguage_id].present?%> 			
 			<span class="filter"><%=Language.find(params[:language_id]).name%><%=link_to "x",params.merge(:language_id => nil,:page=> nil)%></span>
 	 			
 	  <%end%>
	
    <% if   @tag || params[:search].present? %>
      <div class="filters">
        <strong>Filtering:</strong>
        <% if params[:search].present? %>
          <span class="filter"><%= params[:search] %> <%= link_to "x", params.merge(:search => nil, :page => nil) %></span>
        <% end %>
        <% if @tag %>
          <span class="filter"><%= @tag.display_name %> <%= link_to "x", params.merge(:tag_id => nil, :page => nil) %></span>
        <% end %>
<!--          <%#if @language%> -->
<!--         <span class="filter"><%#=Language.find(params[:language_id]).name%><%=link_to "x"%></span> params.merge(:language_id => nil, :page => nil)%></span> -->
<!--          <%#end%> -->
        
      </div>
    <% end %>
    <% if @books.empty? %>
      <p class="content">No books found. <%= link_to "See all books.", books_path %></p>
    <% else %>
      <% if params[:view].nil? %>
        <div class="full">
          <%= render @books %>
        </div>
      <% elsif params[:view] == "list" %>
        <table class="list">
          <tr>
<!--             <th>#</th> -->
            <th>Name</th>
            <th>Comments</th>
            <th>Released</th>
          </tr>
          <% for book in @books %>
            <tr>
<!--               <td><%= book.position %></td> -->
              <td><%= link_to book.name, book %></td>
              <td><%= link_to pluralize(book.comments.size, "comment"), book_path(book, :view => "comments"), :class => "comment_count" %></td>
              <td><%= book.published_at.strftime('%b %d, %Y') %></td>
              <%if can? :update,:books%>
              <td><%= link_to 'Edit', edit_book_path(book)  %></td>
              <%end%>
            </tr>
          <% end %>
        </table>
      <% elsif params[:view] == "grid" %>
        <div class="grid">
          <% for book in @books %>
            <div class="book">

            	<%= link_to image_tag(book.image_link.to_s ,:size => "200x125",:alt => book.name), book%>

              <div class="screenshot"><%#= link_to image_tag book.image_url ,:size => "200x125", :alt => book.name, {:autoplay => true}, :class => "play_video" %></div>
              <div class="name">
                <%= book.position %>
                <%= link_to book.name, book %>
                <% if can? :update, :books%>
                <%= link_to 'Edit', edit_book_path(book) %>
                <%end%>
              </div>
            </div>
          <% end %>
          <div class="clear"></div>
</div>
      <% end %>

      <%= will_paginate :previous_label => h("< Previous Page"),  :next_label => h("Next Page >") %>
    <% end %>
  </div>

	
  <% if can? :create, :books %>
    <div class="actions"><%= link_to "New Books", new_book_path %></div>
  <% end %>
</div>








