<% title "Books in StotyVarNan", false %>
<div class="content">
	<div class="side">
		<div class="book_views">
			View:
			<span class="view"><%= link_to_unless params[:view].blank?, image_tag("views/full.png", :size => "15x10"), params.merge(:view => nil, :page => nil), :title => "Full View" %></span>
			<span class="view"><%= link_to_unless params[:view] == "list", image_tag("views/list.png", :size => "14x10"), params.merge(:view => "list", :page => nil), :title => "List View" %></span>
			<span class="view"><%= link_to_unless params[:view] == "grid", image_tag("views/grid.png", :size => "11x10"), params.merge(:view => "grid", :page => nil), :title => "Grid View" %></span>
		</div>

		<div class="categories">

			<%= form_tag "", method: :get do %>
			<h2>Language</h2>
			<ul>
				<% for language in Language.all %>
				<li>
					<%= radio_button_tag("language_id", language.id,params[:language_id].present? && language.id.to_s.eql?(params[:language_id]) ? true : false)%><%= language.name%>
				</li>
				<% end %>
			</ul>
		</div>

		</br>

		<div class="categories">
			<h2>Categories</h2>
			<ul>
				<% for tag in Tag.all %>
				<!-- <li><%#= link_to_unless(params[:tag_id].to_i == tag.id, tag.display_name, params.merge(:tag_id => tag.id, :page => nil)) %></li> -->
				<li>
					<%= radio_button_tag("tag_id", tag.id, params[:tag_id].present? && tag.id.to_s.eql?(params[:tag_id]) ? true : false)%><%= tag.name%>
				</li>
				<% end %>
			</ul>
		</div>
		</br>

		<!-- This code is for age group filter -->
		<div class="categories">
			<h2>Age Group</h2>
			<ul>
				<% for age in AgeGroup.all %>
				<li>
					<%= check_box_tag("age_group_ids[]", age.id, params[:age_group_ids].present? && params[:age_group_ids].include?(age.id.to_s) ? true : false)%><%= age.display_grade%>
				</li>
				<% end %>
			</ul>
		</div>
		</br>

		<div id="more_filter">
			<a id="filter"href="#">More Filters</a>
			<div class="categories filter-box" id="extra_filters"style="display:none">
				<h2>Narrator</h2>
				<ul>
					<% for narrator in @narrator_list %>
					<li>
						<%= radio_button_tag("narrator", narrator,params[:narrator] && narrator.to_s.eql?(params[:narrator]) ? true : false, class:"narrator_name")%><%= narrator%>
					</li>
					<% end %>
				</ul>
   <!-- This Code is for checkbox for Narrator -->
				<!-- <ul>
					<%#for narrator in @narrator_list %>
					<li>
						<%#= check_box_tag("narrator[]", narrator,params[:narrator] && narrator.to_s.eql?(params[:narrator]) ? true : false, class:"narrator_name")%><%= narrator%>
					</li>
					<%# end %>
				</ul> -->


			</div>
		</div>
        <%= submit_tag "Search"%>
        <%end%>
		</br>
		<div class="banner"></div>

		</form>
	</div>
</div>

<div class="books">
	<% if  @language || @tag || params[:search].present? || params[:narrator].present? || params[:age_group_ids] %>
	<div class="filters">
		<strong>Filtering:</strong>
		<% if params[:search].present? %>
		<span class="filter"><%= params[:search] %> <%= link_to "x", params.merge(:search => nil, :page => nil) %></span>
		<% end %>
		<% if @tag %>
		<span class="filter"><%= @tag.display_name %> <%= link_to "x", params.merge(:tag_id => nil, :page => nil) %></span>
		<% end %>
		<% if params[:age_group_ids] %>
		  <% @age_group.each do |a|%>
		  <%#= raise a.inspect%>
		    <span class="filter"> <%= a.display_grade %> <%= link_to "x", params.merge(:age_group_ids => nil, :page => nil) %></span>
		   <!--  <span class="filter"> <%#= a.display_grade %> <%#= link_to "x", params[:age_group_ids]-[a.id] %></span> -->
	      <%end%>	
		<% end %>
		<%if @language%>
		<span class="filter"><%= Language.find(params[:language_id]).name%><%= link_to "x", params.merge(:language_id => nil, :page => nil)%></span>
		<%end%>
		<!-- This code is for extra filter -->
		<%if params[:narrator].present?%>
		<span class="filter"><%= Book.find_by_narrator(params[:narrator]).narrator%><%= link_to "x", params.merge(:narrator => nil, :page => nil)%></span>
		<%end%>
	</div>
	<% end %>

	<% if @books.empty? %>
	<p class="content">
		No books found. <%= link_to "See all books.", books_path %>
	</p>
	<% else %>
	<% if params[:view].nil? %>
	<div class="full">
		<div class="book">
			<%= render 'book' %>
			<%#= render 'accordian'%>
		</div>
	</div>

	<% elsif params[:view] == "list" %>
	<table class="list">
		<tr>
			<th>Name</th>
			<th>Comments</th>
			<th>Released</th>
		</tr>
		<% for book in @books %>
		<tr>
			<td><%= link_to book.name, book %></td>
			<td><%= link_to pluralize(book.comments.size, "comment"), book_path(book, :view => "comments"), :class => "comment_count" %></td>
			<td><%= book.published_at.strftime('%b %d, %Y') %></td>
			<%if can? :update,:books%>
			<td><%= link_to 'Edit', edit_book_path(book)  %></td>
			<td><%= link_to 'taggings', edit_tagging_path(book)  %></td>

			<%end%>
		</tr>
		<% end %>
	</table>
	<% elsif params[:view] == "grid" %>
	<div class="grid">
		<% for book in @books %>
		<div class="book">
			<%= link_to image_tag(book.image_link.to_s ,:size => "200x125",:alt => book.name), book%>

			<div class="screenshot">
				<%#= link_to image_tag book.image_url ,:size => "200x125", :alt => book.name, {:autoplay => true}, :class => "play_video" %>
			</div>
			<div class="name">
				<%= book.position %>
				<%= link_to book.name, book %>
				<% if can? :update, :books%>
				<%= link_to 'Edit', edit_book_path(book) %>
				<%end%>
			</div>
		</div>
		<% end %>
		<div class="clear"></div>
	</div>
	<% end %>

	      <%= will_paginate :previous_label => h("< Previous Page"),  :next_label => h("Next Page >") %>
	<%end %>
</div>

<% if can? :create, :books %>
<div class="actions">
	<%= link_to "New Books", new_book_path %>
</div>
<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#filter').click(function() {
			 $(".filter-box").slideToggle(500,function(){
			 	$('#filter').text(
			 		$(this).is(':visible') ? "Less Filters" : "More Filters"
			 		);
			 });
			$('.narrator_name').click(function(){
				if ($('.narrator_name').is(':checked'))
					alert("checked")
					$('.filter-box').show();
			});
			// $(document).on("click", '.filter-box ul li :checkbox', function(){
      if (this.checked==true)
      alert("click")  
		});
		$('.filter-box').change(function() {
			val = $(narrator_name).val();
			alert('val')
		})

		$("#accordion").accordion({
			autoHeight : false,
			collapsible : true,
			active : false
		});
	})
</script>

