<%= form_tag "", :method => :get do %>
  <div class="field">
    <%= label_tag :friend_name %><br />
    <%= text_field_tag :friend_name %>
  </div>
  <div class="field">
    <%= label_tag :friend_email %><br />
    <%= text_field_tag :friend_email %>
  </div>
  <%= submit_tag "Send"%>
<%end%>

<% if params[:friend_name]  && params[:friend_email] && params[:commit]%>
	<script type="text/javascript">
	    window.close();
	</script>
<%end%>	