  <script type="text/javascript">

$(document).ready(function(){
  $( "#accordion" ).accordion({ autoHeight: false,collapsible:true,active: false});
})
</script>
<% title @book.full_name, false %>

<div id="episode" class="<%= "legacy" if @book.legacy? %>">


  <div class="screenshot">
    <script type="text/html" id="video_template">
      <%= player(:allowfullscreen => 'true',:allowscriptaccess => 'true' )%>
      <%if params[:autoplay]%>
        <iframe width="420" height="315" src="<%=@book.audio%>?autoplay=1"  frameborder="0" autoplay="autoplay" allowfullscreen></iframe>
      <%else%>
        <iframe width="420" height="315" src="<%=@book.audio%>?autoplay=0" frameborder="0" autoplay="false" allowfullscreen></iframe>
      <%end%>
    </script>
  </div>

<div class="info<%= " video_info" if params[:autoplay] %>">

<p id="notice"><%= notice %></p>
  <h1>
    <span class="position">#<%= @book.position %></span>
    <%= @book.name %>
  </h1>
    
  <div class="details">
    <%= @book.published_at.strftime('%b %d, %Y') %> |
    <%= raw @book.tags.map { |tag| link_to tag.display_name, root_path(:tag_id => tag) }.join(", ") %>
    <% unless @book.published? %>
      <span class="unreleased">NOT YET RELEASED</span>
    <% end %> |
      <%= link_to "Invite Friends","#", 
      :onclick => "window.open('/books/#{@book.id}/invite_friends','Invite friend','resizable=0, scrollbars=0,height=150,width=200').focus()",:controller=>"books",:action=> 'invite_friends',:remote => true %> |

      <%=link_to "Download Video", video_download_book_path(@book) %> |
      <%#=link_to "Watch Interactive Video",'#',
                :onclick => "window.open('#{@book.flash_video_url.to_s}','Video','resizable=0, scrollbars=yes,height=550,width=550').focus()",:remote => true %> 
      <%=link_to "Watch Interactive Video",'#',
                :onclick => "window.open('/books/#{params[:id]}/interactive_video','Video','resizable=0, scrollbars=yes,height=550,width=550').focus()",:remote => true %> |
      <%=link_to "Download Interactive Video", file_download_book_path(@book) %>
  </div>
    <%= flash[:notice]%>
    <!--Audio : <%= rating_for @book, "audio" %>
    Video : <%= rating_for @book, "video" %>=end -->
    Rating : <%= rating_for @book, "overall" %>
    <div id="accordion">	    				
	     		 <h3 >About <strong><u><%=@book.narrator%></u></strong></h3>
	     	 		<div> 	     	 			
	     	 			<p><%= render "info/#{@book.narrator.downcase}" rescue nil%></p>
	     	 		</div>
		</div>
    <div class="description"><%= @book.description %></div>
    <div class="watch">
    	

<!-- #This code is for player helper 	 -->
  <% if false %>
      <%= link_to({:autoplay => true}, {:class => "play_audio watch_button"}) do %>

        Click to Play Audio &#9654; 
        <%if params[:autoplay] %>
        <%=render "player" %>
        

   
        <%end%>
    <% end %> 
  <% end %>
  <!--  #Code for player ends here-->
    </div>
    <!-- #Twitter code which is being ignored for the beta version...
    <div class="social">
      <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= book_url(@book) %>" data-text="Reading <%= @book.name %> on Bookshelf" data-count="horizontal" data-via="railscasts">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
  -->
    <ul class="downloads horizontal">
      <span class="overlay"></span>
    </ul>
    <div class="clear"></div>
  </div>
  <ul class="nav horizontal">
    <!--<li class="selected"><%= tab_link "Transcript of the Book", :view => nil %></li>   <!-- Tab_link method in application_helper -->
    <li class="selected"><%= tab_link pluralize(@book.comments.size, "Comment"), :view => nil %></li>
    <li><%= tab_link "Similar books", :view => "similar" %></li>
    <%#= content_tag :li, link_to("< Previous book", @book.previous), :class => "previous" if @book.previous %>
    <%#= content_tag :li, link_to("Next book >", @book.next), :class => "next" if !@book.last_published? && @book.next %>
  </ul>
  <div class="nav_section">
    <!-- if there are more views, add those in the following array -->
    <%= %w[similar].include?(params[:view]) ? render(params[:view]) : render("comments") %></b>
    
  </div>
  <h3><%= link_to "Back to List of Books...", books_path%></h3>
  <% if current_user && is_user_admin? %>
    <td><%= button_to 'Delete Book', @books_path, :confirm => 'Are you sure?', :method => :delete %></td>
  <%end%>
</div>