<%if can? :index, @tags%>
<h1>Listing tags</h1>

<table>
  <tr>
  	<th>Tag ID</th>
  	<th></th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
  	<td><%= tag.id %></td>
    <td><%= tag.name %></td>
    <td><%= link_to 'Show', tag %></td>
    <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
    <td><%= link_to 'Destroy', tag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag', new_tag_path %>
<%else%>
<p> "You are not authorized to view this page. Please check with your administrator"</p>
<%end%>
