<h1>Taggings#new</h1>



<%= form_for(@tagging) do |f| %>

  <div class="field">
    <%= f.label :book_id %><br />
    <%= f.text_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br />
    <%= f.text_field :tag_id %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


