<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @line_item.book_id %>
</p>

<p>
  <b>Reading list:</b>
  <%= @line_item.reading_list_id %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
